<map xmlns="http://mokoi.info/projects/mokoi">
<settings>
	<dimensions width="1" height="1" />
	<color red="128" blue="128" green="128" mode="0" />
	<option name="music" value="" type="music" />
	<option name="name" value="" type="" />
</settings>
<object value="hud.png:greenbox" type="sprite">
	<position x="24" y="24" w="336" h="256" z="0" l="0" r="0" f="0"/>
	<color red="255" blue="255" green="255" alpha="59" />
</object>
<object value="hud.png:redbox" type="sprite">
	<position x="408" y="24" w="80" h="256" z="0" l="0" r="0" f="0"/>
	<color red="255" blue="255" green="255" alpha="255" />
</object>
<object value="hud.png:greenbox" type="sprite">
	<position x="24" y="320" w="464" h="32" z="0" l="0" r="0" f="0"/>
	<color red="255" blue="255" green="255" alpha="255" />
</object>
</map>